.header {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 3fr;
  position: relative;
  margin: 92px 24px 96px 24px;
}

.header__menu {
  width: 391px;
  height: 22px;
  margin-left: 26.52px;
}

.header:last-child {
  display: flex;
  justify-content: flex-end;
}

.header__logo {
  display: flex;
  justify-self: center;
  width: 148px;
  height: 105px;
  margin-right: 184px;
  margin-left: 36px;
}

.header__logo-image {
  width: 95%;
}

.header__links-list {
  display: flex;
  column-gap: 34px;
  font-weight: 400;
  font-size: 18px;
  list-style: circle;
  text-underline-offset: 4px;
}

.header__link_active {
  list-style: none;
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  list-style: none;
  line-height: 24px;
  width: 241px;
  text-underline-offset: 4px;
}

.cover {
  max-width: 1100px;
  height: 757px;
  position: relative;
}

.cover__img {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-position: center;
  object-fit: cover;
}

.cover__title {
  margin-top: 165px;
  margin-left: 50px;
  width: 1000px;
  height: 355px;
  font-weight: 700;
  font-size: 100px;
  z-index: 2;
  color: #fff;
  position: absolute;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
  line-height: 120px;
}

.aligned-text_center {
  line-height: 123px !important;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  line-height: 121px !important;
}

.bet-button {
  position: absolute;
  top: 655px;
  left: 794px;
  z-index: 2;
  background: transparent;
  color: #fff;
  outline: 0;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.letter-spacing-extended-60 {
  letter-spacing: 60px;
}

.letter-spacing-extended-0 {
  letter-spacing: 0px;
}

.cover__description {
  position: absolute;
  left: 78px;
  top: 667px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 18.366px;
  z-index: 10;
}

.lots {
  margin: 175px 24px 108px 24px;
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  gap: 29px;
  height: 692px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 40px;
}

.lots__card-list {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  width: 100%;
}

.card_type {
  width: 334px;
  height: 563px;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.card__title {
  position: absolute;
  top: 51px;
  left: 40px;
  right: 40px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  z-index: 1;
  text-decoration: underline;
  line-height: 26px;
  text-underline-offset: 3.19px;
}

.card_text {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  z-index: 1;
  line-height: 24px;
}

.card_text-film {
  position: absolute;
  top: 371px;
  left: 40px;
  right: 40px;
}

.card_text-book {
  position: absolute;
  top: 155px;
  left: 40px;
  right: 40px;
}

.card_text-picture {
  position: absolute;
  top: 251px;
  left: 40px;
  right: 40px;
}

.card-link {
  color: #fff;
  display: block;
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 40px;
  text-underline-offset: 5px;
}

.about {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1052px;
  height: 595px;
  margin-inline: 23px;
  margin-top: 150px;
}

.about__column {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 5fr;
  gap: 90px;
  left: 359px;
  top: 133px;
  right: 24px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  display: grid;
  grid-template-rows: 1fr 1.2fr;
  gap: 3px;
  letter-spacing: 0.1px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  height: 240px;
  border: 10px solid #000;
  border-radius: 10em;
  background-color: #000;
  position: absolute;
  left: 47px;
  top: 35px;
}

.about__logo-image {
  width: 67%;
  position: relative;
}

.footer {
  display: flex;
  gap: 185px;
  margin: 180.5px 50px 88px 50px;
}

.footer__menu-list {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  width: 149px;
  height: 64px;
  text-align: center;
  text-underline-offset: 3px;
}

.footer__menu {
  width: 149px;
  height: 64px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}
